<div class="jumbotron" style="background-color: brown; color: white" >
	<div class="container">


		<h1>Primero que todo debemos saber que tipo de sistema operativo  OSX tienes</h1>
		<h3> 1.-Para esto debes ir al logo de Apple (en la parte superior izquierda de la pantalla)</h3>

		<img src="aboutmac.png" class="img-rounded">
		<h4> <strong>Nota: </strong> El número de tu versión está debajo de OS X</h4>
		<img src="osx.png" class="img-rounded">

	</div>

</div>
<center>

		<h3>Ahora selecciona tu versión:</h3>
		
	<%= link_to '10.9', mac2_path, class: "btn btn-primary btn-lg " %>
	<%= link_to '10.8', mac3_path, class: "btn btn-primary btn-lg " %>
	<%= link_to '10.7', mac3_path, class: "btn btn-primary btn-lg " %>
	<%= link_to '10.6', mac3_path, class: "btn btn-primary btn-lg " %>
	<%= link_to '10.5 o menor', mac2_path, class: "btn btn-primary btn-lg " %>
	
</center>

</div>



