<div class="well well-sm ">
	<h3><strong>Instala Rails like a Boss!</strong></h3>
</div>


	<div class="container">
		
		<h1>Ahora debemos saber que tipo de sistema operativo  OSX tienes</h1>
		<h3> 1.-Para esto debes ir al logo de Apple (en la parte superior izquierda de la pantalla)</h3>

		<img src="http://installrails.com/assets/mac_steps/select_about_this_mac-fddfbd27fa64f27ae12720e1da3ac248.png">
		<h4> El número de tu versión está debajo de OS X</h4>
		<img src="http://installrails.com/assets/mac_steps/about_this_mac-23d9a9120aa702e415149fa39da35e43.png">
		<h3>Ahora selecciona tu versión</h3>
		
		<center>
		<p>
			<%= link_to '10.9', win_1_path, class: "btn btn-primary btn-lg" %>
			<%= link_to '10.8', mac3_path, class: "btn btn-primary btn-lg" %>
			<%= link_to '10.7', mac3_path, class: "btn btn-primary btn-lg" %>
			<%= link_to '10.6', mac3_path, class: "btn btn-primary btn-lg" %>
			<%= link_to '10.5 o menor', mac1_path, class: "btn btn-primary btn-lg" %>
		</p>
		</center>
		
	</div>



